node_modules
vendor
content/.obsidian
public
resources/static/dist
fa
.phive
.phpdoc
.vscode
tools
indieinabox.php
tests/Integration/tmp_sandbox/
coverage/
docs/coverage/
.config.yml
data/indieauth/
data/twtxt_cache/
