node_modules
vendor
content/.obsidian
public/
public_html/
public_gemini/
public_gopher/
public_media/
resources/static/dist
fa
.phive
.phpdoc
.vscode
tools
indieinabox.php
tests/Integration/tmp_sandbox/
coverage/
docs/coverage/
.config.yml
data/indieauth/
data/twtxt_cache/
*.sqlite*
.config.php
sonarqube
scratch/
*.lock
.cron.lock
tests/Functional/tmp_*/
data/avatars/
data/microsub/
data/archived_pdfs/
.env
