{
    frankenphp
    order php_server before file_server
}

# Inicia o servidor usando a variável de ambiente APP_DOMAIN ou localhost como fallback
{$APP_DOMAIN:localhost} {
    # Habilita compressão moderna
    encode zstd gzip

    # Define a pasta onde está a aplicação
    root * /app

    # Tenta servir o arquivo estático (ex: imagens, css). 
    # Se não existir, joga a requisição para o seu roteador (build.php)
    try_files {path} /build.php?{query}

    # Habilita o processamento de arquivos PHP
    php_server
}
