{
    frankenphp
    order php_server before file_server
    auto_https off
}

# Servidor HTTP atrás de proxy reverso
:80 {
    # Habilita compressão moderna
    encode zstd gzip

    # Define a pasta onde está a aplicação
    root * /app

    # Tenta servir o arquivo estático (ex: imagens, css). 
    # Se não existir, joga a requisição para o seu roteador (indieinabox.php)
    try_files {path} /indieinabox.php?{query}

    # Habilita o processamento de arquivos PHP
    php_server
}
